.login-page {
  align-items: center;
  background-color: rgb(215, 184, 127);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.first-box {
  align-items: center;
  background-color: #fb6;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.137);
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: center;
  width: 250px;
  z-index: 1;
}

.first-box form {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.first-box h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}

.first-box input {
  border: none;
  border-radius: 8px;
  height: 30px;
  margin-bottom: 15px;
  text-align: center;
  width: 170px;
}

.first-box button {
  background-color: rgb(167, 235, 65);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  height: 30px;
  margin-top: 25px;
  width: 100px;
}

.first-box button:disabled {
  background-color: rgb(213, 213, 213);
}

.second-box {
  align-items: center;
  background-color: #ebd1b0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.137);
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  margin-left: -20px;
  overflow: hidden;
  width: 250px;
  z-index: 0;
}

.second-box-image {
  left: 70px;
  position: relative;
  width: 90%;
}

.second-box b {
  color: white;
  margin-left: 20px;
  margin-top: 120px;
  width: 180px;
}
